body, #main {
  background-color: #c2c2a3;
}
#header{
  background-color: #cccccc;
  /*font-family: Arial, Helvetica, sans-serif;*/
  font-family: 'Josefin Sans', sans-serif;
  height: 600px;
  width: 800px;
  max-width: 100%;
  margin: 30px auto;
  border-radius: 15px;
}
#title {
  font-size: 40px;
  text-align: center;
  line-height: 60px; 
}
#img-div {
  margin: auto;
}
#im1 {
  max-width: 100%; 
  margin: auto;
  border-radius: 10px;
  display: block;
  height: 400px;
}
#im2 {
  max-width: 100%; 
  float: right;
  border-radius: 15px;
}
#img-caption {
  margin: 10px;
  text-align: center;
}
p, li {
  line-height: 20px; 
  /*font-family: Arial, Helvetica, sans-serif;*/
  font-family: 'Rubik', sans-serif;
  /*text-indent: 50px;*/
}
ul {
list-style: none;
}
#tribute-info {
  height: 600px;
  width: 800px;
  max-width: 100%;
  margin: 30px auto;
}
#img-div1 { 
  height: 300px;
  max-width: 100%;
  margin: 50px auto 70px;
}
#img-div2 { 
  height: 400px;
  max-width: 100%;
  margin: auto;
}
.image {
  max-width: 100%; 
  display: block;
  height: auto;
  margin: auto;
}
.img-note {
  text-align: center;
  /*font-family: Arial, Helvetica, sans-serif;*/
  font-family: 'Asap', sans-serif;
  max-width: 100%; 
  display: block;
  height: auto;
}
#sources {
  margin: auto;
  line-height: 10px;
  height: 150px;
}
h4, ul {
  /*font-family: Arial, Helvetica, sans-serif;*/
  font-family: 'Ubuntu Condensed', sans-serif;
}
h2 {
  text-align: left;
  /*font-family: Arial, Helvetica, sans-serif;*/
  font-family: 'Ubuntu Condensed', sans-serif;
}
#footer {
  text-align: center;
}
#biography-link, #tribute-link {
  text-decoration-line: none;
}
@media(max-width: 468px) {
  #footer{
    display:flex;
    flex-wrap: wrap;
    margin-top: 50px;
  }
}
